version: 2
jobs:
  build:
    docker:
      - image: cimg/android:2022.08.1-node # gcloud is baked into this image
        auth:
          username: tdrhq
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run:
          name: Build debug APK and release APK
          command: |
            ./gradlew :assembleDebug
            ./gradlew :assembleDebugAndroidTest
      - run:
          name: Store Google Service Account
          command: echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
      - run:
          name: Authorize gcloud and set config defaults
          command: |
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run:
          name: Test with Firebase Test Lab
          command: >
            cd ~/project && gcloud firebase test android run \
              --app ./build/outputs/apk/debug/project-debug.apk \
              --test ./build/outputs/apk/androidTest/debug/project-debug-androidTest.apk \
              --results-bucket cloud-test-${GOOGLE_PROJECT_ID} \
              --directories-to-pull /sdcard/screenshots/com.facebook.testing.screenshot.example.test \
              --device-ids Pixel2 \
              --os-version-ids 27 2>&1 | tee ~/firebase-output
      - run:
          name: Record to screenshotbot
          command: |
            curl https://staging.screenshotbot.io/recorder.sh | sh
            ~/screenshotbot/recorder \
              --channel screenshotbot-example-circleci-test \
              --firebase-output ~/firebase-output \
              --api-key ${SCREENSHOTBOT_API_KEY} \
              --repo-url ${CIRCLE_REPOSITORY_URL} \
              --api-secret ${SCREENSHOTBOT_API_SECRET}
